.background{
    background-image: url(../images/bg2.jpg);
    padding: 5% 0px;
}
.special-title1{
    text-align: center;
}
.special-title1 h1,.special-title1 p{
    color: var(--main-color);
}
.boxs{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap :30px
}
.boxs .box{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .5);
    padding: 16px;
    cursor: pointer;
}

.boxs .box:hover{
    transform: translateY(-3%);
    -webkit-transform: translateY(-3%);
    -moz-transform: translateY(-3%);
    -ms-transform: translateY(-3%);
    -o-transform: translateY(-3%);
}

.boxs .box .img img{
    width: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.boxs .box  .opinion,.boxs .box .name{
text-align: center;
max-width: 100%;
}
.boxs .box  .opinion p{
    letter-spacing: 1.4px;
    line-height: 1.4;
    font-size: 22px;
}
.boxs .box .name h2{
    color: var(--secondary-color);
}

/*########################## contact page #######################*/


.contact .contact-part .small-box form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
 .contact-part .small-box form input{
    width: 590px;
    height: 40px;
    margin: 12px 0px;
 }
  .contact-part .small-box form textarea{
    resize: none;
    width:590px ;
    height: 120px;
  }
   .contact-part .small-box form .btn{
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--secondary-color);
    outline: none;
    border: none;
    font-size: 25px;
    letter-spacing: 1.5px;
   }

 